@use "./variables" as v;
@use "./mixins" as m;

@mixin row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-party {
  a.signup-btn {
    border: 2px solid #a200ff;
    box-shadow: 0 0 8px #a200ff;
    color: #a200ff;
    text-decoration: none;
    margin-top: 1rem;
    &:hover {
      color: transparent;
    }
  }
}
.user-profile {
  width: 90%;
  margin: 2rem auto;

  padding: 0.8rem 0.5rem;

  background-color: v.$bg-section-2;
  border-radius: 5px;
  color: v.$text-main;

  .user-card {
    @include row-center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;

    h4 {
      margin: 0.5rem 0 0;
    }

    img {
      border-radius: 50px;
      -webkit-box-shadow: 0px 0px 45px -11px rgba(66, 68, 90, 1);
      -moz-box-shadow: 0px 0px 45px -11px rgba(66, 68, 90, 1);
      box-shadow: 0px 0px 45px -11px rgba(66, 68, 90, 1);
    }

    .user-info {
      margin: auto 0;
    }
  }

  .friends-actions {
    @include row-center;
    gap: 1rem;
    width: 100%;

    padding-top: 1rem;
    text-align: center;

    i {
      font-size: 1.4rem;
    }

    .acction {
      position: relative;
      transition: transform 0.3s ease-in-out;
    }
    .acction:hover {
      transform: translateY(-5px);
    }

    .link {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.user-party {
  margin: 1rem 0;
}

@media (min-width: 819px) {
  .layout.main {
    position: relative;
    width: 80%;
    margin: 0 auto;
  }
}
