{% extends "base.html" %}
{% load static %}

{% block header %}
{% block head %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    <script type=module src={% static "js/buddies.js" %}></script>
{% endblock  %}

{% endblock  %}


 {% block content %}
 
    <section class="buddies-wrapper" >
      
            
        <div class="search-wrapper">
            <h2>Find your friend!</h2>
            <div class="search">
                {% if messages %}
                    {% for message in messages  %}
                        <p class="error">{{message}}</p>
                    {% endfor %}
                {% endif %}
                <nav class="search-nav">
                    <p class="search-link active"data-option='Yours'>Yours</p>
                    <p class="search-link"  data-option='Find'>Find</p>
                </nav>
                
                <form class="main-form" >
                    <div class="position">
                        <label for="find_friend">Your friend's name/email:</label>
                        <input id="find_friend" required  name='nick' type="text">
                    </div>
                    <button class="searching-btn">Find</button>
                </form>
            </div>

        </div>
        <div class="search-row">
                {% if friends_relation %}
                    {% for relation in friends_relation %}

                        <div class="buddy-box">
                            <img src="{{relation.followed.avatar}}" alt="{{relation.followed.username}}">
                            <div class="buddy-info">
                                <h3 class='nick'>{{relation.followed.username}}</h3>
                                <form   action="{% url "add_delete_buddie" %}" method='POST'>
                                    {% csrf_token %}
                                    <button class="delete-btn actionBtn" data-id="{{relation.followed.id}}" data-action="delete">delete</button>
                                </form>
                            </div>
                        </div> 
                    
                    {% endfor %} 
                {% else %}
                <div class="buddies-txt">
                        <p>You don't have any buddies 😮</p>
                        <p>☝ Click above ☝ - "Find" to follow someone </p>
                </div>
                       
                {% endif %}
            </div>
       
    </section>
 
 {% endblock %}

