{% extends "base.html" %}
{% load static %}



{% block content %}

    <div class="reset-password-wrapper register-wrapper ">
        
        <div class="register-form">
            <h2>🔐 Reset your password 🔐</h2>
            
            <form  class="form" method="POST">
                {% csrf_token %}

                <div class="position">
                   {{form.new_password1.label_tag}}
                   {{form.new_password1}}
                   {{form.new_password1.errors}}
                </div>
                <div class="position">
                   {{form.new_password2.label_tag}}
                   {{form.new_password2}}
                   {{form.new_password2.errors}}
                </div>
                
               
                <button class="signup-btn">Change my password</button>
            </form>
        </div>
    </div>
</body>
   
{% endblock  %}

