{% extends "base.html" %}
{% load static %}



{% block content %}

    <div class="reset-password-wrapper register-wrapper ">
        
        <div class="register-form">
            <h2>🔐 Reset your password 🔐</h2>
            
            <form  class="form" method="POST">
                {% csrf_token %}

                <div class="position">
                    {{form.email.label_tag}}
                    {{form.email}}
                    {{form.email.errors}}
                 </div>
                
               
                <button class="signup-btn">Send link</button>
            </form>
        </div>
    </div>
</body>
   
{% endblock  %}

