<div class="confirm_wrapper" style='text-align:center;'>
    <div class="confirm-content" style='padding: 1rem;background-color: #2a2640; text-align:center; border-radius:15px;'>
        <h2 style='padding: 0;font-size: 2rem; color: #ffea00; text-shadow: 0 0 2px #ffea00, 0 0 5px #ffea00, 0 0 10px #ffea00, 0 0 20px #ffd900, 0 0 40px #ffd900;'>NOCTURNO</h2>
        <h3 style='color:#a1a1b5'>Change your password</h3>
        <p style='color:#a1a1b5'>⛑🥽 You have to be good protected 🥼🔒</p>
        <p style='color:#a1a1b5'>👇 Reset your password below 👇</p>
        <a  href="{{ protocol}}://{{ domain }}{% url 'change-password' uidb64=uid token=token %}"   style='position: relative; display: inline-block; padding: 0.5rem 0.5rem; font-size: 16px;color: #ffea00; background: transparent;
        border: 2px solid #ffea00;border-radius: 6px;text-transform: uppercase;letter-spacing: 1px;   cursor: pointer;transition: all 0.3s ease; box-shadow: 0 0 8px #ffea00;font-weight: bold;overflow: hidden;z-index: 1;text-decoration:none;'>Change your password...</a>
        <p style='color:#a1a1b5'>Stay tune and safe 🎶🦸‍♂️</p>
    </div>
</div>